[DEFAULT]

#Allowed values= memory, file, db. Default value is memory
persistence_type=memory

[FILE_PERSISTENCE]
dictionary_folder=/tmp/graffiti-dictionary/

[DATABASE]
#connection = sqlite:////var/tmp/graffiti.db
#connection = mysql://graffiti:graffiti@127.0.0.1:3306/graffiti
